html, body {
	margin: 0px;
	padding: 0px;
}

h1, h2, h3 {
	margin: 0px;
}

#wrapper {
	width: 80%;
	min-width: 530px;
	margin: 0 auto;
}

#header, #content, #footer {
	padding: 8px 16px;
}

#header {
	background: #111;
}

#header img {
	float: left;
	margin: 0 16px 0 -2px;
}

#header h1 {
	margin: 0;
	color: #383;
}

#navigation {
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul {
	margin: 0;
	padding: 0;
}

#navigation ul li {
	list-style-type: none;
	display: inline;
}

#navigation li a {
	display: block;
	float: left;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
	padding: 8px 16px;
}

#navigation li a:hover {
	background: #383;
}

#navigation #donate {
	float: right;
	margin: 5px 16px 0 0;
}

#content {
	font-size: 80%;
	clear: left;
}

#content h2 {
	color: #000;
	font-size: 160%;
}

#footer {
	/*background: #ccc;
	text-align: right;
	height: 1%;*/
	
}

table {
	border-collapse: collapse;
	width: 100%;
}

table tbody tr {
	border: 0px !important;
}

table th {
	padding: 8px;
}

table td {
	padding: 4px 8px;
}

tr:nth-child(even) {
	background: #EEE;
}