/**** rating ****/
span.stars, span.stars span {
	display: block;
	background: url(../img/stars.png) 0 -16px repeat-x;
	width: 160px;
	height: 16px;
}

span.stars span {
	background-position: 0 0;
}

/**** pr-search ****/
.pr-search .panel-search input {
	width: 50%;
	margin: 0 8px 0 0;
}

.pr-search table {
	margin: 16px 0 0 0;
}

.pr-search tbody {
	cursor: pointer;
}

.pr-search table .title {
	width: 80%;
}

.pr-search td:nth-child(2) {
	text-align: center;
}

/**** pr-show-media ****/
.pr-show-media {
	position: relative;
}

.pr-show-media .panel-img {
	float: left;
}

.pr-show-media .panel-text {
	margin-left: 154px;
	padding-left: 16px;
}

.pr-show-media .panel-links {
	position: absolute;
	top: 0px;
	right: 0px;
}

.pr-show-media .pr-icon {
	float: right;F
}

.pr-show-media .panel-text h3 {
	margin: 0 8px 0 0;
	display: inline;
}

.pr-show-media .stars {
	margin: 4px 0 16px 0;
}

.pr-show-media strong {
	margin: 0 4px 0 0;
}
/**** pr-show-media ****/
.pr-icon {
	height: 16px;
	width: 16px;
	margin: 4px;
	display: block;
}

.icon-imdb {
	background-image: url("../img/imdb_small.png");
}

.icon-tmdb {
	background-image: url("../img/themoviedb.png");
}