/**** rating ****/
span.stars, span.stars span {
	display: block;
	background: url(../img/stars.png) 0 -16px repeat-x;
	width: 160px;
	height: 16px;
}

span.stars span {
	background-position: 0 0;
}

/**** pr-search ****/
.pr-search .panel-search input{
	width: 50%;
	margin: 0 8px 0 0;
}

.pr-search table {
	margin: 16px 0 0 0;
	}

.pr-search tbody {
	cursor: pointer;
}

.pr-search table .title {
	width: 80%;
}

.pr-search td:nth-child(2) {
	text-align: center;
}

/**** pr-show-media ****/
.pr-show-media {
	position: relative;
}

.pr-show-media, .pr-show-media .panel-rating {
	overflow: hidden;
}

.pr-show-media .panel-title {
	margin: 0 0 2px 0;
}

.pr-show-media .panel-rating {
	margin: 0 0 16px 0;
}

.pr-show-media img {
	float: left;
	display: block;
	margin: 0 16px 0 0;
}

.pr-show-media h3 {
	display: inline;
	margin: 0 8px 8px 0;
}

.pr-show-media .panel-data a {
	display: block;
}

.pr-show-media .panel-links {
	position: absolute;
	top: 0px;
	right: 0px;
}

/**** pr-show-media ****/
.pr-icon {
	height: 16px;
	width: 16px;
	float: right;
	margin: 0 0 0 4px;
}

.icon-imdb {
	background-image: url("../img/imdb_small.png");
}

.icon-tmdb {
	background-image: url("../img/themoviedb.png");
}