/**** rating ****/
span.stars, span.stars span {
    display: block;
    background: url(../img/stars.png) 0 -16px repeat-x;
    width: 160px;
    height: 16px;
}

span.stars span {
    background-position: 0 0;
}
/**** pr-search ****/
.pr-search tbody{
	cursor: pointer;
}

.pr-search table .title{
	width: 80%;
}

.pr-search td:nth-child(2){
	text-align: center;
}